In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [5]:
#pip install sodapy
#pip install dnspython
#pip install pymongo
#pip install pymongo[srv]

In [6]:
import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.kcmo.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.kcmo.org,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
#result_1 = client.get("dmjw-d28i", limit=200000)
#result_2 = client.get("pxaa-ahcm", limit=200000)
#result_3 = client.get("vsgj-uufz", limit=200000)
#result_4 = client.get("w795-ffu6", limit=200000)
#result_5 = client.get("x39y-7d3m", limit=200000)


# Convert to pandas DataFrame
#results_df_2018 = pd.DataFrame.from_records(result_1)
#results_df_2019 = pd.DataFrame.from_records(result_2)
#results_df_2020 = pd.DataFrame.from_records(result_3)
#results_df_2021 = pd.DataFrame.from_records(result_4)
#results_df_2022 = pd.DataFrame.from_records(result_5)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [8]:
#results_df_2018=results_df_2018.rename(columns={":@computed_region_kk66_ngf4": "computed_region_kk66_ngf4", ":@computed_region_9t2m_phkm": "computed_region_9t2m_phkm",":@computed_region_my34_vmp8":"computed_region_my34_vmp8",":@computed_region_w4hf_t6bp":"computed_region_w4hf_t6bp"})
#results_df_2019=results_df_2019.rename(columns={":@computed_region_kk66_ngf4": "computed_region_kk66_ngf4", ":@computed_region_9t2m_phkm": "computed_region_9t2m_phkm",":@computed_region_my34_vmp8":"computed_region_my34_vmp8",":@computed_region_w4hf_t6bp":"computed_region_w4hf_t6bp"})
#results_df_2020=results_df_2020.rename(columns={":@computed_region_kk66_ngf4": "computed_region_kk66_ngf4", ":@computed_region_9t2m_phkm": "computed_region_9t2m_phkm",":@computed_region_my34_vmp8":"computed_region_my34_vmp8",":@computed_region_w4hf_t6bp":"computed_region_w4hf_t6bp"})
#results_df_2021=results_df_2021.rename(columns={":@computed_region_kk66_ngf4": "computed_region_kk66_ngf4", ":@computed_region_9t2m_phkm": "computed_region_9t2m_phkm",":@computed_region_my34_vmp8":"computed_region_my34_vmp8",":@computed_region_w4hf_t6bp":"computed_region_w4hf_t6bp"})
#results_df_2022=results_df_2022.rename(columns={":@computed_region_kk66_ngf4": "computed_region_kk66_ngf4", ":@computed_region_9t2m_phkm": "computed_region_9t2m_phkm",":@computed_region_my34_vmp8":"computed_region_my34_vmp8",":@computed_region_w4hf_t6bp":"computed_region_w4hf_t6bp"})

In [7]:
import pymongo
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import pandas as pd
import numpy as np

# -USERNAME,PASSWORD FOR MONGO DB-

In [71]:
client = pymongo.MongoClient("mongodb+srv://infotech_emre:O6iAdFUUJb764Wv1@cluster0.2kfd1pw.mongodb.net/?retryWrites=true&w=majority", server_api=ServerApi('1'))
db=client.get_database('Kansas')

In [11]:
#db["crime_record_2018"].insert_many(results_df_2018.to_dict('records'))
#db["crime_record_2019"].insert_many(results_df_2019.to_dict('records'))
#db["crime_record_2020"].insert_many(results_df_2020.to_dict('records'))
#db["crime_record_2021"].insert_many(results_df_2021.to_dict('records'))
#db["crime_record_2022"].insert_many(results_df_2022.to_dict('records'))

In [72]:
satir_sayisi_bilgi=db.crime_record_2018
satir_sayisi_bilgi.count_documents({})

128938

# DICTIONARY FROM MONGO DB TO DF

In [10]:
from pymongo import MongoClient
db = client.get_database('Kansas')
#########################################
collection_2018 = db["crime_record_2018"]
data = collection_2018.find()
df_18=pd.DataFrame.from_dict(data)

In [11]:
collection_2019 = db["crime_record_2019"]
data = collection_2019.find()
df_19=pd.DataFrame.from_dict(data)

In [12]:
collection_2020 = db["crime_record_2020"]
data = collection_2020.find()
df_20=pd.DataFrame.from_dict(data)

In [13]:
collection_2021 = db["crime_record_2021"]
data = collection_2021.find()
df_21=pd.DataFrame.from_dict(data)

In [14]:
collection_2022 = db["crime_record_2022"]
data = collection_2022.find()
df_22=pd.DataFrame.from_dict(data)

In [18]:
df_18.head()

,_id,report_no,reported_date,reported_time,from_date,from_time,to_date,to_time,offense,ibrs,...,involvement,firearm_used_flag,location,race,sex,age,computed_region_kk66_ngf4,computed_region_9t2m_phkm,computed_region_my34_vmp8,computed_region_w4hf_t6bp
0,63bdfc7ec5f54698ce86ab5e,180009419,2018-02-07T00:00:00.000,16:35,2018-02-07T00:00:00.000,11:00,2018-02-07T00:00:00.000,15:30,640,23F,...,VIC,N,"{'human_address': '{""address"": ""E FOREST AV"", ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63bdfc7ec5f54698ce86ab5f,180035722,2018-05-20T00:00:00.000,03:32,2018-05-20T00:00:00.000,03:32,NaN,NaN,1352,280,...,ARR,N,"{'human_address': '{""address"": ""35 ST and SOUT...",B,M,NaN,NaN,NaN,NaN,NaN
2,63bdfc7ec5f54698ce86ab60,180037437,2018-05-19T00:00:00.000,00:21,2018-05-19T00:00:00.000,NaN,NaN,NaN,2100,90D,...,ARR,N,"{'human_address': '{""address"": ""2600 VAN"", ""ci...",B,F,46,NaN,NaN,NaN,NaN
3,63bdfc7ec5f54698ce86ab61,180039506,2018-05-26T00:00:00.000,01:00,2018-05-26T00:00:00.000,01:00,NaN,NaN,2655,90J,...,VIC,N,"{'latitude': '39.09961', 'longitude': '-94.583...",W,M,31,5,4,7,75
4,63bdfc7ec5f54698ce86ab62,180036600,2018-05-16T00:00:00.000,09:13,2018-05-16T00:00:00.000,01:00,2018-05-16T00:00:00.000,09:13,702,240,...,SUS,N,"{'latitude': '39.100155', 'longitude': '-94.59...",U,U,NaN,185,4,7,72

In [19]:
df_19.head()

,_id,report_no,reported_date,reported_time,from_date,from_time,to_date,to_time,offense,ibrs,...,firearm_used_flag,race,sex,age,rep_dist,location,computed_region_kk66_ngf4,computed_region_9t2m_phkm,computed_region_my34_vmp8,computed_region_w4hf_t6bp
0,63bdff0ec5f54698ce88a308,KC19044451,2019-06-14T00:00:00.000,16:34,2019-06-14T00:00:00.000,16:30,2019-06-14T00:00:00.000,16:30,Stealing – Shoplift,23C,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63bdff0ec5f54698ce88a309,KC19052276,2019-07-12T00:00:00.000,22:11,2019-07-13T00:00:00.000,2:28,NaN,NaN,City/Municipal Warrant Arrest,NaN,...,False,W,F,30,NaN,NaN,NaN,NaN,NaN,NaN
2,63bdff0ec5f54698ce88a30a,KC19071090,2019-09-17T00:00:00.000,13:26,2019-09-17T00:00:00.000,13:15,NaN,NaN,Stealing – Shoplift,23C,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63bdff0ec5f54698ce88a30b,KC19073018,2019-09-24T00:00:00.000,7:32,2019-09-24T00:00:00.000,7:20,NaN,NaN,Abuse of a Child,13B,...,False,B,M,39,PJ6509,NaN,NaN,NaN,NaN,NaN
4,63bdff0ec5f54698ce88a30c,KC19076088,2019-10-04T00:00:00.000,13:59,2019-10-04T00:00:00.000,13:50,NaN,NaN,Recovered Stolen Auto,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_20.head()

,_id,report_no,reported_date,reported_time,from_date,from_time,offense,ibrs,description,beat,...,firearm_used_flag,to_date,to_time,rep_dist,age,location,computed_region_kk66_ngf4,computed_region_9t2m_phkm,computed_region_my34_vmp8,computed_region_w4hf_t6bp
0,63bdff5fc5f54698ce8a3864,KC20067792,2020-10-04T00:00:00.000,11:04,2020-10-03T00:00:00.000,18:00,Stealing – Other,23H,All Other Larceny,121,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63bdff5fc5f54698ce8a3865,KC20017500,2020-03-08T00:00:00.000,19:24,2020-03-08T00:00:00.000,19:00,Stealing – Shoplift,90J,Trespass of Real Property,345,...,False,2020-03-08T00:00:00.000,19:00,PJ3601,NaN,NaN,NaN,NaN,NaN,NaN
2,63bdff5fc5f54698ce8a3866,KC20009823,2020-02-07T00:00:00.000,18:30,2020-02-07T00:00:00.000,18:01,Robbery (Armed Street),120,Robbery,542,...,True,NaN,NaN,PJ6554,NaN,NaN,NaN,NaN,NaN,NaN
3,63bdff5fc5f54698ce8a3867,KC20011191,2020-02-13T00:00:00.000,12:15,2020-02-13T00:00:00.000,12:15,Stealing – Shoplift,23C,Shoplifting,345,...,False,2020-02-13T00:00:00.000,12:15,PJ3601,37,NaN,NaN,NaN,NaN,NaN
4,63bdff5fc5f54698ce8a3868,KC20014727,2020-02-27T00:00:00.000,08:30,2020-01-12T00:00:00.000,16:35,Miscellaneous Investigation,NaN,NaN,344,...,False,NaN,NaN,PJ3281,38,NaN,NaN,NaN,NaN,NaN

In [21]:
df_21.head()

,_id,report_no,report_date,report_time,from_date,from_time,offense,ibrs,description,beat,...,firearmused_flag,age,age_range,to_date,to_time,location,:@computed_region_9t2m_phkm,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp,:@computed_region_kk66_ngf4
0,63be049eeb7214537b1a4e80,KC21055624,2021-08-21T19:45:07.000,19:45,2021-08-21T19:45:00.000,19:45,Murder,09A,Murder,332,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63be049eeb7214537b1a4e81,KC21012401,2021-02-24T11:35:29.000,11:35,2021-02-24T11:35:00.000,11:35,Stealing from Building/Residence,23D,Theft From Building,234,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63be049eeb7214537b1a4e82,KC21017210,2021-03-17T15:46:42.000,15:46,2021-03-17T15:35:00.000,15:35,Assault (Aggravated),13A,Aggravated Assault,631,...,True,33,25-34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63be049eeb7214537b1a4e83,KC21005420,2021-01-25T11:18:00.000,11:18,2021-01-25T11:00:00.000,11:00,Recovered Stolen Auto,NaN,NaN,113,...,False,20,18-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63be049eeb7214537b1a4e84,KC21010791,2021-02-17T11:41:39.000,11:41,2021-02-11T20:30:00.000,20:30,Stolen Auto,240,Motor Vehicle Theft,211,...,False,NaN,NaN,2021-02-11T20:45:00.000,20:45,NaN,NaN,NaN,NaN,NaN

In [10]:
df_22.head()

,_id,report_no,report_date,report_time,from_date,from_time,to_date,to_time,offense,ibrs,...,race,sex,age,firearmusedflag,location,age_range,:@computed_region_kk66_ngf4,:@computed_region_9t2m_phkm,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp
0,63be0519eb7214537b1bb65f,KC22000029,2022-01-01T01:50:00.000,02:18,2022-01-01T01:50:00.000,01:50,2022-01-01T01:50:00.000,01:50,Assault (Aggravated),13B,...,B,M,23,False,"{'type': 'Point', 'coordinates': [-94.581, 39....",18-24,5,4,7,75
1,63be0519eb7214537b1bb660,KC22000197,2021-12-31T17:00:00.000,00:15,2021-12-31T17:00:00.000,17:00,2021-12-31T17:00:00.000,12:00,Rape - Statutory,11A,...,W,M,22,False,NaN,18-24,NaN,NaN,NaN,NaN
2,63be0519eb7214537b1bb661,KC22000585,2022-01-03T19:09:00.000,19:09,2022-01-03T19:09:00.000,19:09,2022-01-03T19:09:00.000,NaN,Miscellaneous Investigation,NaN,...,B,F,NaN,False,"{'type': 'Point', 'coordinates': [-94.57902, 3...",NaN,97,4,7,92
3,63be0519eb7214537b1bb662,KC22000642,2022-01-04T07:00:00.000,06:52,2022-01-04T07:00:00.000,07:00,2022-01-04T07:00:00.000,NaN,Recovered Stolen Auto,NaN,...,W,M,50,False,"{'type': 'Point', 'coordinates': [-94.56041, 3...",45-54,189,1,7,153
4,63be0519eb7214537b1bb663,KC22000666,2022-01-04T10:00:00.000,10:25,2022-01-04T10:00:00.000,10:00,2022-01-04T10:00:00.000,10:05,Stolen Auto,240,...,W,M,37,False,"{'type': 'Point', 'coordinates': [-94.44858, 3...",35-44,NaN,NaN,7,146

In [15]:
df_18_copy=df_18.copy()
df_19_copy=df_19.copy()
df_20_copy=df_20.copy()
df_21_copy=df_21.copy()
df_22_copy=df_22.copy()

#### Replace spaces with underscore , lowercase labels and rename columns

In [47]:
def strip_special_char(df):
    
    df.rename(columns=lambda x : x.strip().replace(':@',''), inplace=True)
    df.rename(columns= lambda x: x.strip().lower().replace(' ','_'), inplace=True)
    df.rename(columns= lambda x: x.strip().lower().replace(':',''), inplace=True)
    return df

df_18 = strip_special_char(df_18)
df_19 = strip_special_char(df_19)
df_20 = strip_special_char(df_20)
df_21 = strip_special_char(df_21)
df_22 = strip_special_char(df_22)

In [33]:
df_21.rename(columns={'firearmused_flag':'firearm_used_flag','report_date':'reported_date','report_time':'reported_time'}, inplace=True)
df_22.rename(columns={'firearmusedflag':'firearm_used_flag','report_date':'reported_date','report_time':'reported_time'} , inplace=True)

#### Specifying Categorical and Numerical Columns

In [34]:
date_cols=['reported_date', 'reported_time', 'from_date','from_time', 'to_date', 'to_time']
cat_cols=['offense', 'ibrs', 'beat', 'zip_code', 'rep_dist', 'area','dvflag','invl_no','involvement','race','sex','computed_region_kk66_ngf4','computed_region_9t2m_phkm','computed_region_my34_vmp8','computed_region_w4hf_t6bp']
num_cols=['age']

In [35]:
for i in df_18.columns:
    if (i in date_cols) or (i in cat_cols) or (i in num_cols) :
        pass
    else:
        print("*****",i)

***** _id
***** report_no
***** description
***** address
***** city
***** firearm_used_flag
***** location

#### Drop irrelevant columns

In [36]:
df_18.drop(columns=['invl_no'],axis=1,inplace=True)

#### Assign appropriate datatype

In [417]:
#df_18=df_18_copy
#df_19=df_19_copy
#df_20=df_20_copy
#df_21=df_21_copy
#df_22=df_22_copy

In [37]:
#2018
df_18.reported_time= df_18.reported_time.replace({'24:00':'00:00'}) 
df_18.from_time= df_18.from_time.replace({'24:00':'00:00'}) 
df_18.to_time= df_18.to_time.replace({'24:00':'00:00'}) 
df_18.firearm_used_flag=df_18.firearm_used_flag.replace({'Y':True,'N':False})
df_18.beat=df_18.beat.fillna(np.nan)

#2019
df_19.reported_time= df_19.reported_time.replace({'24:00:00':'00:00',':':None})
df_19.from_time= df_19.from_time.replace({'24:00:00':'00:00',':':None})
df_19.to_time= df_19.to_time.replace({'24:00:00':'00:00'})

In [48]:
df_21.columns

Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'offense', 'ibrs', 'description', 'beat', 'address',
       'city', 'zip_code', 'rep_dist', 'area', 'dvflag', 'involvement', 'race',
       'sex', 'firearm_used_flag', 'age', 'age_range', 'to_date', 'to_time',
       'location', 'computed_region_9t2m_phkm', 'computed_region_my34_vmp8',
       'computed_region_w4hf_t6bp', 'computed_region_kk66_ngf4'],
      dtype='object')

In [38]:
def assign_dtype(df):

    df.firearm_used_flag=df.firearm_used_flag.astype(bool)
    #####################################################################
    df.computed_region_9t2m_phkm=df.computed_region_9t2m_phkm.astype(float)
    df.computed_region_kk66_ngf4=df.computed_region_kk66_ngf4.astype(float)
    df.computed_region_my34_vmp8=df.computed_region_my34_vmp8.astype(float)
    df.computed_region_w4hf_t6bp=df.computed_region_w4hf_t6bp.astype(float)
    #####################################################################
    df.reported_date=pd.to_datetime(df.reported_date, infer_datetime_format=True)
    df.from_date=pd.to_datetime(df.from_date, infer_datetime_format=True)
    df.to_date=pd.to_datetime(df.to_date, infer_datetime_format=True)
    #####################################################################
    df.reported_time = pd.to_datetime(df.reported_time, format='%H:%M').dt.strftime("%H:%M")
    df.from_time = pd.to_datetime(df.from_time, format='%H:%M').dt.strftime("%H:%M") 
    df.to_time = pd.to_datetime(df.to_time, format='%H:%M').dt.strftime("%H:%M")

    return df

In [49]:
df_18 = assign_dtype(df_18)
df_19 = assign_dtype(df_19)
df_20 = assign_dtype(df_20)
df_21 = assign_dtype(df_21)
df_22 = assign_dtype(df_22)

NOTE: df_18 report_no oteki yillara gore farkli.

beat cast ederken sorun oldu

In [55]:
df_18.age=df_18.age.astype(float)
df_19.age=df_19.age.astype(float)
df_20.age=df_20.age.astype(float)
df_21.age=df_21.age.astype(float)
df_22.age=df_22.age.astype(float)

In [56]:
df_18['age_range'] = pd.cut(df_18['age'],bins=[18,24,34,44,54,64,74,100],labels=['18-24','25-34','35-44','45-54', '55-64', '65-74', '75+'])
df_19['age_range'] = pd.cut(df_19['age'],bins=[18,24,34,44,54,64,74,100],labels=['18-24','25-34','35-44','45-54', '55-64', '65-74', '75+'])
df_20['age_range'] = pd.cut(df_20['age'],bins=[18,24,34,44,54,64,74,100],labels=['18-24','25-34','35-44','45-54', '55-64', '65-74', '75+'])

In [57]:
#checking whether all column names are consistent
df_18.sort_index(axis=1,inplace=True)
df_19.sort_index(axis=1, inplace=True)
df_20.sort_index(axis=1, inplace=True)
df_21.sort_index(axis=1, inplace=True)
df_22.sort_index(axis=1, inplace=True)

print((df_18.columns==df_18.columns).all())
print((df_19.columns==df_18.columns).all())
print((df_20.columns==df_18.columns).all())
print((df_21.columns==df_18.columns).all())
print((df_22.columns==df_18.columns).all())

True
True
True
True
True

#### Concat all dataframes

In [58]:
df = pd.concat([df_18,df_19,df_20,df_21,df_22])
df.head()

,_id,address,age,age_range,area,beat,city,computed_region_9t2m_phkm,computed_region_kk66_ngf4,computed_region_my34_vmp8,...,offense,race,rep_dist,report_no,reported_date,reported_time,sex,to_date,to_time,zip_code
0,63bdfc7ec5f54698ce86ab5e,FOREST AV and E TRUMAN RD,NaN,NaN,CPD,123,KANSAS CITY,NaN,NaN,NaN,...,640,NaN,PJ1316,180009419,2018-02-07,16:35,NaN,2018-02-07,15:30,64127
1,63bdfc7ec5f54698ce86ab5f,E 35 ST and SOUTH BENTON AV,NaN,NaN,EPD,332,KANSAS CITY,NaN,NaN,NaN,...,1352,B,PJ2803,180035722,2018-05-20,03:32,M,NaT,NaN,64130
2,63bdfc7ec5f54698ce86ab60,2600 VAN BRUNT BL,46.0,45-54,EPD,342,KANSAS CITY,NaN,NaN,NaN,...,2100,B,PJ2226,180037437,2018-05-19,00:21,F,NaT,NaN,64128
3,63bdfc7ec5f54698ce86ab61,1200 MAIN ST,31.0,25-34,CPD,113,KANSAS CITY,4.0,5.0,7.0,...,2655,W,PJ1084,180039506,2018-05-26,01:00,M,NaT,NaN,64106
4,63bdfc7ec5f54698ce86ab62,1200 JEFFERSON ST,NaN,NaN,CPD,111,KANSAS CITY,4.0,185.0,7.0,...,702,U,PJ1077,180036600,2018-05-16,09:13,U,2018-05-16,09:13,64105

In [60]:
df[['from_date', 'from_time', 'reported_date', 'reported_time', 'to_date', 'to_time' ]]

,from_date,from_time,reported_date,reported_time,to_date,to_time
0,2018-02-07 00:00:00,11:00,2018-02-07 00:00:00,16:35,2018-02-07 00:00:00,15:30
1,2018-05-20 00:00:00,03:32,2018-05-20 00:00:00,03:32,NaT,NaN
2,2018-05-19 00:00:00,NaN,2018-05-19 00:00:00,00:21,NaT,NaN
3,2018-05-26 00:00:00,01:00,2018-05-26 00:00:00,01:00,NaT,NaN
4,2018-05-16 00:00:00,01:00,2018-05-16 00:00:00,09:13,2018-05-16 00:00:00,09:13
...,...,...,...,...,...,...
99742,2022-11-24 21:53:00,21:53,2022-11-24 21:53:00,21:53,2022-11-24 21:53:00,NaN
99743,2022-12-22 13:25:00,13:25,2022-12-22 13:25:00,13:27,2022-12-22 13:25:00,NaN
99744,2022-12-21 21:00:00,21:00,2022-12-21 21:00:00,21:08,2022-12-21 21:00:00,NaN
99745,2022-12-02 20:11:00,20:11,2022-12-02 20:11:00,20:11,2022-12-02 20:11:00,NaN
99746,2022-12-15 21:52:00,21:52,2022-12-15 21:52:00,21:52,2022-12-15 21:52:00,NaN

In [63]:
df = assign_dtype(df)

In [61]:
df.shape

(520804, 29)

In [62]:
df.info(verbose=True, null_counts=True)

<ipython-input-62-6ac79f7ef903>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 520804 entries, 0 to 99746
Data columns (total 29 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   _id                        520804 non-null  object
 1   address                    520758 non-null  object
 2   age                        359381 non-null  float64
 3   age_range                  354953 non-null  object
 4   area                       516794 non-null  object
 5   beat                       517580 non-null  object
 6   city                       520726 non-null  object
 7   computed_region_9t2m_phkm  407270 non-null  float64
 8   computed_region_kk66_ngf4  407270 non-null  float64
 9   computed_region_my34_vmp8  416092 non-null  float64
 10  computed_region_w4hf_t6bp  416092 non-null  float64
 11  description                452665 non-null  object
 12  dvflag                     520804 non-null  object
 13  firearm_used_flag          520804 non-null  bool
 14  from_date                  520462 non-null  datetime64[ns]
 15  from_time                  519788 non-null  object
 16  ibrs                       477025 non-null  object
 17  involvement                520804 non-null  object
 18  location                   452622 non-null  object
 19  offense                    520804 non-null  object
 20  race                       450876 non-null  object
 21  rep_dist                   430810 non-null  object
 22  report_no                  520804 non-null  object
 23  reported_date              520803 non-null  datetime64[ns]
 24  reported_time              520799 non-null  object
 25  sex                        455908 non-null  object
 26  to_date                    250710 non-null  datetime64[ns]
 27  to_time                    183909 non-null  object
 28  zip_code                   483828 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(5), object(20)
memory usage: 115.7+ MB

In [64]:
df.dtypes.to_frame()

                                        0
_id                                object
address                            object
age                               float64
age_range                          object
area                               object
beat                               object
city                               object
computed_region_9t2m_phkm         float64
computed_region_kk66_ngf4         float64
computed_region_my34_vmp8         float64
computed_region_w4hf_t6bp         float64
description                        object
dvflag                             object
firearm_used_flag                    bool
from_date                  datetime64[ns]
from_time                          object
ibrs                               object
involvement                        object
location                           object
offense                            object
race                               object
rep_dist                           object
report_no                          object
reported_date              datetime64[ns]
reported_time                      object
sex                                object
to_date                    datetime64[ns]
to_time                            object
zip_code                           object

#### Descriptive Data Analysis

####  <span style="color:green;font-weight:bold">Detecting and Plotting NaN values ERSIN</span>

In [33]:
df_18.shape

(128938, 29)

In [34]:
df_18.describe()

,report_no,offense,beat,invl_no,age,computed_region_kk66_ngf4
count,1.289380e+05,128938.000000,127514.000000,128938.000000,70043.000000,91752.000000
mean,1.800333e+08,1006.382556,323.124245,1.262452,37.685151,123.137098
std,7.552863e+05,649.285439,196.954451,1.266882,15.157687,76.979209
min,5.002615e+07,101.000000,5.000000,1.000000,18.000000,1.000000
25%,1.800260e+08,640.000000,144.000000,1.000000,26.000000,51.000000
50%,1.800505e+08,702.000000,314.000000,1.000000,34.000000,127.000000
75%,1.800752e+08,1401.000000,421.000000,1.000000,47.000000,192.000000
max,1.899366e+08,3079.000000,9999.000000,57.000000,506.000000,246.000000

In [35]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128938 entries, 0 to 128937
Data columns (total 29 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   _id                        128938 non-null  object
 1   report_no                  128938 non-null  int32
 2   reported_date              128938 non-null  datetime64[ns]
 3   reported_time              128938 non-null  object
 4   from_date                  128672 non-null  datetime64[ns]
 5   from_time                  128553 non-null  object
 6   to_date                    49812 non-null   datetime64[ns]
 7   to_time                    49346 non-null   object
 8   offense                    128938 non-null  int32
 9   ibrs                       127797 non-null  object
 10  description                128938 non-null  object
 11  beat                       127514 non-null  float64
 12  address                    128911 non-null  object
 13  city                       128901 non-null  object
 14  zip_code                   128938 non-null  object
 15  rep_dist                   127627 non-null  object
 16  area                       127627 non-null  object
 17  dvflag                     128938 non-null  object
 18  invl_no                    128938 non-null  float64
 19  involvement                128938 non-null  object
 20  firearm_used_flag          128938 non-null  object
 21  location                   128938 non-null  object
 22  race                       110735 non-null  object
 23  sex                        110735 non-null  object
 24  age                        70043 non-null   float64
 25  computed_region_kk66_ngf4  91752 non-null   float64
 26  computed_region_9t2m_phkm  91752 non-null   object
 27  computed_region_my34_vmp8  92973 non-null   object
 28  computed_region_w4hf_t6bp  92973 non-null   object
dtypes: datetime64[ns](3), float64(4), int32(2), object(20)
memory usage: 27.5+ MB

In [36]:
df_temp=df_18.dtypes.to_frame().reset_index()

In [37]:
df_temp.columns=['cols', 'd_type']

In [38]:
df_temp

                         cols          d_type
0                         _id          object
1                   report_no           int32
2               reported_date  datetime64[ns]
3               reported_time          object
4                   from_date  datetime64[ns]
5                   from_time          object
6                     to_date  datetime64[ns]
7                     to_time          object
8                     offense           int32
9                        ibrs          object
10                description          object
11                       beat         float64
12                    address          object
13                       city          object
14                   zip_code          object
15                   rep_dist          object
16                       area          object
17                     dvflag          object
18                    invl_no         float64
19                involvement          object
20          firearm_used_flag          object
21                   location          object
22                       race          object
23                        sex          object
24                        age         float64
25  computed_region_kk66_ngf4         float64
26  computed_region_9t2m_phkm          object
27  computed_region_my34_vmp8          object
28  computed_region_w4hf_t6bp          object

In [39]:
categorical_features=[]
time_features=[]
numerical_features=[]

In [40]:
for i in df_temp.index:
    if df_temp.loc[i,'d_type']=='object':
        categorical_features.append(df_temp.loc[i,'cols'])
    elif (df_temp.loc[i,'d_type']=='int32') or (df_temp.loc[i,'d_type']=='float64'):
        numerical_features.append(df_temp.loc[i,'cols'])
    else:
        time_features.append(df_temp.loc[i,'cols'])

In [41]:
print(categorical_features)

['_id', 'reported_time', 'from_time', 'to_time', 'ibrs', 'description', 'address', 'city', 'zip_code', 'rep_dist', 'area', 'dvflag', 'involvement', 'firearm_used_flag', 'location', 'race', 'sex', 'computed_region_9t2m_phkm', 'computed_region_my34_vmp8', 'computed_region_w4hf_t6bp']

In [42]:
print(numerical_features)

['report_no', 'offense', 'beat', 'invl_no', 'age', 'computed_region_kk66_ngf4']

In [43]:
print(time_features)

['reported_date', 'from_date', 'to_date']

In [44]:
import matplotlib.pyplot as plt
plt.style.use("seaborn-whitegrid")

In [45]:
import seaborn as sns
import missingno as msno

In [46]:
def plot_stats(feature,label_rotation=False,horizontal_layout=True):
    temp = df_18[feature].value_counts()
    df1 = pd.DataFrame({feature: temp.index,'Number of contracts': temp.values})

    # Calculate the percentage of target=1 per category value
    #cat_perc = df_application_train[[feature, 'TARGET']].groupby([feature],as_index=False).mean()
    #cat_perc.sort_values(by='TARGET', ascending=False, inplace=True)
    
    if(horizontal_layout):
        fig, (ax1, ax2) = plt.subplots(ncols=2, figsize=(12,6))
    else:
        fig, (ax1, ax2) = plt.subplots(nrows=2, figsize=(12,14))
    sns.set_color_codes("pastel")
    s = sns.barplot(ax=ax1, x = feature, y="Number of contracts",data=df1)
    if(label_rotation):
        s.set_xticklabels(s.get_xticklabels(),rotation=90)
    
    #s = sns.barplot(ax=ax2, x = feature, y='TARGET', order=cat_perc[feature], data=cat_perc)
    #if(label_rotation):
     #   s.set_xticklabels(s.get_xticklabels(),rotation=90)
    #plt.ylabel('Percent of target with value 1 [%]', fontsize=10)
    #plt.tick_params(axis='both', which='major', labelsize=10)

    plt.show();

In [48]:
#for n in categorical_features[4:]:
#    plot_stats(n)

In [49]:
df_18.isnull().sum()

_id                              0
report_no                        0
reported_date                    0
reported_time                    0
from_date                      266
from_time                      385
to_date                      79126
to_time                      79592
offense                          0
ibrs                          1141
description                      0
beat                          1424
address                         27
city                            37
zip_code                         0
rep_dist                      1311
area                          1311
dvflag                           0
invl_no                          0
involvement                      0
firearm_used_flag                0
location                         0
race                         18203
sex                          18203
age                          58895
computed_region_kk66_ngf4    37186
computed_region_9t2m_phkm    37186
computed_region_my34_vmp8    35965
computed_region_w4hf_t6bp    35965
dtype: int64

#### Plotting Numerical Columns